.editor {
    position: relative;
    max-width: 35rem;
    min-height: 400px;
    margin: 20px auto 5rem auto;
}

.editor__content {
    margin-top: 30px;
}

.editor__content pre {
    padding: 0.7rem 1rem;
    border-radius: 5px;
    background: #000000;
    color: #ffffff;
    font-size: 0.8rem;
    overflow-x: auto;
}

.editor__content pre code {
    display: block;
}

.editor__content p code {
    display: inline-block;
    padding: 0 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
}

.editor__content ul,
.editor__content ol {
    padding-left: 1rem;
}

.editor__content a {
    color: inherit;
}

.editor__content blockquote {
    border-left: 3px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    padding-left: 0.8rem;
    font-style: italic;
}

.editor__content blockquote p {
    margin: 0;
}

.editor__content img {
    max-width: 100%;
    border-radius: 3px;
}