* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*:focus {
    outline: none;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
    font-size: 18px;
    color: #000000;
    line-height: 1.5;
}

body {
    margin: 0;
}

a {
    color: inherit;
}

h1,
h2,
h3,
p,
ul,
ol,
pre,
blockquote {
    margin: 1rem 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
p:first-child,
ul:first-child,
ol:first-child,
pre:first-child,
blockquote:first-child {
    margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
p:last-child,
ul:last-child,
ol:last-child,
pre:last-child,
blockquote:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    line-height: 1.3;
}

.button {
    font-weight: bold;
    display: inline-flex;
    background: transparent;
    border: 0;
    color: #000000;
    padding: 0.2rem 0.5rem;
    margin-right: 0.2rem;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}