.menubar {
    display: flex;
    margin-bottom: 1rem;
    /* background-color: rgb(134, 145, 207); */
    transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;
}

.menubar.is-hidden {
    visibility: hidden;
    opacity: 0;
}

.menubar.is-focused {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
}

.menubar__button {
    font-weight: bold;
    display: inline-flex;
    background: transparent;
    border: 0;
    color: #000000;
    padding: 5px;
    margin-right: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.menubar__button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.menubar__button.is-active {
    background-color: rgba(0, 0, 0, 0.1);
}